@model ExpenseGroup

<partial name="_PageTitlePartial" model="@("Edit Expense Group")" />
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form asp-action="@((string)ViewData["action"] == "Add" ? "Add" : "Update")" method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input class="form-control" asp-for="Description" />
                </div>
                @if ((string)ViewData["action"] == "Add")
                {
                    <button class="btn btn-success">Add</button>
                }
                else
                {
                    <input type="hidden" asp-for="Id" />
                    <button class="btn btn-info">Update</button>
                }
            </form>
        </div>
    </div>
</div>